/* da terminare */
header{
    background-color: #4285F4;
    background-image: url(../img/pattern.png);
    background-size: cover;
    height: 350px;
}

#logo{
    width: 300px;
}
/* fine da terminare */

/* inizio formattazione sezione titolo */

.autore{
    color:grey;
}

.data{
    font-size: 10px;  
}

#nome{
    color:#4285F4;
}
/* fine formattazione sezione titolo */

/* inzio sezione foto */
.foto{
    font-size: 9px;
}
/* fine sezione foto */