/* da terminare */
header{
    background-color: #4285F4;
    background-image: url(../img/pattern.png);
    background-size: 275px;
    height: 65px;
}

#logo{
    width: 150px;
}
/* fine da terminare */

/* inizio formattazione sezione titolo */

h1{
    font-size: 27px;
}

.autore{
    color:grey;
}

.data{
    font-size: 10px;  
}

#nome{
    color:#4285F4;
}
/* fine formattazione sezione titolo */

/* inzio sezione foto */
.foto{
    font-size: 9px;
}
/* fine sezione foto */

/* inizio formattazione table */
th{
    background-color:#4285F4;
    width: 300px;
    text-align: left;
    color: white;
}

td{
    height: 100px;
}

.odd{
    background-color: rgb(137, 202, 243);
}